.categoryBtn {
  display: flex;
  flex-direction: column;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  /*overflow: hidden;*/
  margin: 1rem;
}

.subCat {
  display: flex;
  flex-direction: column;
}
.subCat-li {
  list-style-type: none;
  text-align: left;
  cursor: pointer;
}
.subCat-li:hover {
  color: rgb(255, 196, 0);
}
