.categoryBtn {
  display: flex;
  flex-direction: column;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  /*overflow: hidden;*/
  margin: 1rem;
}

.subCat {
  display: flex;
  flex-direction: column;
}
.subCat-li {
  list-style-type: none;
  text-align: left;
  cursor: pointer;
  margin: 10px;
}
.subCat-li:hover {
  color: rgb(255, 196, 0);
}
.sidebar-container {
  width: 18%;
  background-color: white;
  margin: -4.1% 3% 0 8%;
  border-radius: 5px;
  font-size: 18px;
  position: fixed;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
