.navigation {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.main-menu {
  position: absolute;
  display: flex;
  list-style-type: none;
}
.menu-item a {
  text-decoration: none;
  margin: 1rem;
  color: black;
  font-size: 1.1rem;
}
