.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(248, 203, 0, 1);
  /*height: 12rem;*/
  /*padding: 3rem 8% 0 8%;*/
  width: 100%;
}

.header-top-container {
  display: flex;
  justify-content: center;
  margin-left: 3%;
  margin-right: 3%;
}
.header-bottom {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 1.5rem 0 1rem 24.8vw;
  margin-left: 3%;
  margin-right: 3%;
}
