footer{
    background-color:#8080803b;
    text-align: center;
    
    
}

h1 {
    text-align: center;
}

#navbar{
    background-color: rgba(231, 139, 96, 0.747);
    text-align: right;
    height: 30px;
    padding-right: 20px;
}

#imgOne {
    margin-left: 500px;
    width: 500px;
    height: 200px;
    border-radius: 50px;
}

table,th,td{
    text-align: center;
    margin-left: 600px;
    margin-top: 30px;
    border : 2px solid red;
}